<!DOCTYPE html>
<html>
<head>
    <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
</head>
<body>

<div ng-app="formApp" ng-controller="formController">
    <form novalidate>
        userName:<br>
        <input type="text" ng-model="user.name"/><br>
        userEmail:<br>
        <input type="text" ng-model="user.email"/><br>
        <br>
        <button ng-click="reset()">RESET</button>
    </form>
    <p>user:{{user}}</p>

    <p>master:{{master}}</p>
</div>


</body>

<script>
    "use strict";
    var app = angular.module('formApp', []);

    app.controller('formController', function ($scope) {

        $scope.master = {"name":"weixufeng","email":"ysyonline@163.com"};

        $scope.reset = function () {
            $scope.user = angular.copy($scope.master);
        };
        $scope.reset();

    });
</script>
</html>